fastapi==0.110.1
uvicorn[standard]==0.29.0

# Database
pymongo==4.5.0
motor==3.3.1

# Auth & security
python-jose==3.5.0
passlib[bcrypt]==1.7.4

# File handling
python-multipart==0.0.21
PyPDF2==3.0.1
python-docx==1.2.0

# AI / NLP
spacy==3.8.11

# HTTP / API
requests==2.32.5
httpx==0.28.1

# Env config
python-dotenv==1.2.1
